<form [formGroup]="loginForm"*ngIf="!isLoggedIn" (ngSubmit)="login()" novalidate >
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Example: John " formControlName="username" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Example: John " formControlName="password" />
    </mat-form-field>
    <button color ="accent" [disabled] = "!loginForm.valid" mat-raised-button type="submit"> 
        <span>Log in</span>
    </button>
    
</form>
<div class="alert alert-success" *ngIf="isLoggedIn">
    Logged in.
</div>