<div class="container-gallery">
    <div class="d-flex justfiy-content-center align-items-center flex-column m-auto">
        <div class="d-flex align-items-baseline">
            <h3 class="me-2">
                <a [routerLink]="['/profile', this.user?.id]"  class="nav-link" routerLink="profile"><strong>{{ user?.username }}</strong></a>
            </h3>
            <p class="me-2">{{post?.updatedAt | date:'medium'}}</p>
            <p>{{post?.location?.name}}</p>
        </div>
    <div gallerize>
        <img  *ngFor="let image of post?.images" [src]="image" [attr.imageSrc]="image" [attr.thumbSrc]="image.thumb"/>
        </div>
        <div class="w-100">
            <div class="d-flex justify-content-between fluid">
                <p >
                    <strong>{{ post?.title }}</strong>
                </p>
                <div class="d-flex align-items-baseline">
                    <p class="me-2 d-flex">
                        {{ this.likes?.length }} likes
                    </p>
                    <button *ngIf="!this.liked && this.storageService.isLoggedIn()" mat-raised-button color="primary" (click)="this.like()">
                        Like
                    </button>
                    <button *ngIf="this.liked && this.storageService.isLoggedIn()" mat-raised-button color="warn" (click)="this.unlike()">
                        Unlike
                    </button>
                </div>
            </div>
        </div>
        <p>
            {{ post?.content }}
        </p>
        <div *ngFor="let comment of this.comments">
            <div class="d-flex">
                <div class="d-flex flex-column justify-content-between fluid">
                    <p>
                        <a [routerLink]="['/profile', this.user?.id]" class="nav-link" routerLink="profile"><strong>{{ comment?.user?.username }}</strong></a>
                        {{comment?.updatedAt | date:'medium'}}
                    </p>
                    <p>
                        {{ comment?.comment }}
                    </p>
                </div>
            </div>
        </div>
        <form *ngIf="this.storageService.isLoggedIn()" [formGroup]="commentForm" (ngSubmit)="onComment()" novalidate class="d-flex flex-column align-items-center justify-content-center">
            <mat-form-field>
                <mat-label>Comment</mat-label>
                <input matInput placeholder="Example: John " formControlName="comment" />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">
                Comment
            </button>
        </form>
    </div>
</div>
